name: CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    name: Rust ${{matrix.rust}} on ${{matrix.os}}
    runs-on: ${{matrix.os}}-latest

    strategy:
      fail-fast: false
      matrix:
        rust: [nightly, beta, stable]
        os: [ubuntu, macos, windows]

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}

      - uses: taiki-e/cache-cargo-install-action@v1
        with:
          tool: cargo-expand

      - run: cargo test --manifest-path test-project/Cargo.toml -- --nocapture

      - run: cargo test --manifest-path test-procmacro-project/Cargo.toml -- --nocapture

  msrv:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: taiki-e/install-action@cargo-hack
      - run: cargo hack check --rust-version
